<p>
  All Users:
<table border="1" id="user-table">
  <thead>
  <tr>
    <th>User id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Locked</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  </thead>
  <tbody id="users-block-body">
  <tr th:each="user, iStat : ${users.getUsers()}">
    <td th:text="${user.id}"/>
    <td th:text="${user.name}"/>
    <td th:text="${user.surname}"/>
    <td th:text="${user.email}"/>
    <td th:text="${user.gender}"/>
    <td>
      <select th:id="${'user-locked-'+user.id}">
        <option th:selected="${user.locked==false}" th:value="'false'" th:text="Available"></option>
        <option th:selected="${user.locked==true}" th:value="'true'" th:text="Locked"></option>
      </select>
    </td>
    <td th:if="${currentUser.id!=user.id}" title="Delete" style="cursor: pointer"
        th:attr="onclick=|deleteUser('${user.id}', '${iStat.index}')|">X
    </td>
    <td th:if="${currentUser.id!=user.id}" title="Update" style="cursor: pointer"
        th:attr="onclick=|updateUser('${user.id}', '${iStat.index}')|">V
    </td>
  </tr>
  </tbody>
</table>
<div th:if="${users.getPage() > 0}" class="pagination"
     th:each="pageNumber : ${usersPageNumbers}">
  <label style="float: left; margin-right: 10px; cursor: pointer"
         th:attr="onclick=|updateUserTable(4,'${pageNumber}')|"
         th:text="${pageNumber}"></label>
</div>
</p>