<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DemoSpring</title>
</head>
<body>
<p style="color: red" th:if="${param.errorType!=null &&  param.errorType[0]=='accessDenied'}" >Sorry you do not have access</p>
Admin home page<br>
<a  th:href="${'/logout'}">LogOut</a>
Welcome
<p th:text="${currentUser.name}"></p>
<p th:text="${currentUser.surname}"></p>

<p> Add Group:
<form  th:action="@{/group}" method="post" th:object="${newGroup}">
    <input type="text" placeholder="Name" th:field="*{name}"> </br>
    <button type="submit">Add</button>
</form>
</p>

</body>
</html>